<footer class="footer">
  <small>
    Fronk's footer by Fronk
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   '/static_pages/home' %></li>
      <li><%= link_to "Help", '/static_pages/help' %></li>
    </ul>
  </nav>
</footer>